.img-home {
    height: 200px;
    width: 100%;
    object-fit: contain;

}

.content-text {
    background-color: #98DBCF;
    border-radius: 8px;
    align-self: center;
    padding: 41px;
    text-align: center;
}

.body {
    overflow-x: hidden;
}

.titulo {

    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkslategray
}


@media (max-width: 320px) {

    .footer {
        position: relative;
        height: 100%;
    }
}

@media (min-width: 1400px) {

    .footer {
        height: 100px;
    }

    .content-home {
        margin-top: 10rem !important;
    }
}