.img-home {
    height: 200px;
    width: 100%;
    object-fit: contain;

}

.content-text {
background-color: #98DBCF;
border-radius: 8px;
}

.texto {

    text-align: justify;
}

.footer {
    background-color: #55B2E5;
    text-align: center;
}
.body {
    overflow-x: hidden;
}