<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oportunidades de Negocio</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <div class = "container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
            <figure class="d-flex align-items-center mb-5 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img
                    src="/imagenes/TecHomeLogo.png"
                    alt="Logo TecHome"
                />
            </figure>
            <ul class = "nav nav-pills">
                <li class="nav-item">
                    <button type="button" onclick="informacion()" value="Informacion de la página" class="btn btn-primary">información</button>
                </li>
                <li class="nav-item">
                    <button type="submit" onclick="consultar()" value="consultarProyectos" class="nav-link">Consultar</button>
                </li>
                <li class="nav-item">
                    <a onclick="logout()" href="/logouttecnico" class="nav-link" aria-current="page">Cerrar sesión</a>
                </li>
            </ul>
        </header>
    </div>
    <section style="margin: 1em;">
        <h1 style="text-align:center">OPORTUNIDADES DE NEGOCIOS</h1>
        <div class = "container p-3 vh-100" style="border: 2px solid rgb(119, 172, 247)" alt="Max-width 100%">
            <div class="list-group list-group-flush border-bottom scrollarea" id="body-table">
                <!--
                <a th:each="oportunidad: ${oportunidad}" href="#" class="list-group-item list-group-item-action py-3 lh-tigh">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong th:text="${oportunidad.nombreProyecto}" class="mb-1">.</strong>
                        <small th:text="${oportunidad.presupuesto}" class="text-muted">.</small>
                    </div>
                    <div th:text="${oportunidad.descripcion}" class="col-10 mb-1 small">.</div>
                </a>
                -->
                <a data-id="field">
                </a>
            </div>     
        </div>
    </section>
    <footer class="col-12 footer mt-3">
        <section class="row">

            <section class="col-12 col-sm-6">
                <section class="row">

                    <section class="col-12">
                        <p>Siguenos en nuestras redes sociales</p>
                    </section>

                    <section class="col-12">
                        <section class="row">

                            <section class="col-3">
                                <img src="./imagenes/bxl-instagram.svg" alt=" instagram">
                            </section>

                            <section class="col-3">
                                <img src="./imagenes/bxl-telegram.svg" alt="telegram">
                            </section>

                            <section class="col-3">
                                <img src="./imagenes/bxl-twitter.svg" alt="twiter">
                            </section>

                            <section class="col-3">
                                <img src="./imagenes/bxl-facebook-circle.svg" alt="">
                            </section>
                        </section>

                    </section>
                </section>

            </section>

            <section class="col-12 col-sm-6 mt-3 mt-sm-0">
                <p>Para cualquier solicitud comuniquese a:</p>
                <section class="row">
                    <section class="col-12">
                        <img src="./imagenes/bxs-phone-call.svg" alt="telefono">
                        <span class="ps-2">(305) 456 67  31</span>
                    </section>
                </section>
            </section>

        </section>

    </footer>
    
    <script src="/js/OportunidadesNegocio.js"></script>
</body>
</html>