<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Tec Home Pro</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/iniciotechomepro.css">
</head>
<body>
    <header>
        <figure>
            <img
                src="/imagenes/TecHomeLogo.png"
                alt="Logo TecHome"
            />
        </figure>
    </header>

    <section style="margin: 1em;">
        <div class = "container p-3" style="border: 2px solid rgb(119, 172, 247)">
            <h1 style="text-align:center"> Ventajas de ser un TecHome Pro</h1>
            <p align-item = "center" style="font-family: Arial; text-align:center">Muchas gracias por mostrar interés en este proyecto, estas a un paso de mejorar tus ingresos, de aprovechar tu tiempo libre y de recibir muchas ofertas que te beneficiaran. En TecHome nos encargaremos de enviarte ofertas laborales a la comodidad de tu casa, ya no tendrás que estar saliendo a buscar tus clientes, tus clientes te buscaran a ti; por ello, te mostrare las ventajas de ser un TecHome Pro. </p>
            <hr>
            <ul>
                <li>Tu información personal estará protegida, no compartiremos información sensible a tus clientes</li>
                <li>Tendrás la posibilidad de escoger los proyectos que más te gusten y se acomoden a tu experiencia</li>
                <li>Tus clientes calificaran tu trabajo y si logras mantener una puntuación alta, recibirás mas proyectos y bonos extras</li>
                <li>Recibirás tus pagos de manera segura apenas termines la necesidad de tu cliente</li>
                <li>Podrás incrementar tu experiencia y unirte a proyectos más grandes dentro de la compañía</li>
            </ul>   
            
            <div class="centrar row">

              <div class="col-6" id="two">
      
                <div class="col-12 mb-2">
                  <img src="/imagenes/Membrete.png" class="imgButton" alt="img1">
                </div>
      
                <div class="col-6 offset-3">
                  <ul class="nav nav-pills justify-content-center">
                    <li class="nav-item">
                      <a class="nav nav-link active mt-2" href="/login" aria-current="page">Iniciar Sesión</a>
                    </li>
                  </ul>
                </div>
      
              </div>
      
              <div class="col-6" id="four">
      
                <div class="col-12 mb-2">
                  <img src="/imagenes/Persona.png" class="imgButton" alt="img2">
                </div>
      
                <div class="col-6 offset-3">
                  <ul class="nav nav-pills justify-content-center">
                    <li class="nav-item">
                      <a class="nav nav-link active mt-2" href="/registronuevostecnicos" aria-current="page">Registrate</a>
                    </li>
                  </ul>
                </div>
      
              </div>
      
            </div>
        </div>
    </section>
    <footer class="col-12 footer mt-3">
      <section class="row">

          <section class="col-12 col-sm-6">
              <section class="row">

                  <section class="col-12">
                      <p>Siguenos en nuestras redes sociales</p>
                  </section>

                  <section class="col-12">
                      <section class="row">

                          <section class="col-3">
                              <img src="./imagenes/bxl-instagram.svg" alt=" instagram">
                          </section>

                          <section class="col-3">
                              <img src="./imagenes/bxl-telegram.svg" alt="telegram">
                          </section>

                          <section class="col-3">
                              <img src="./imagenes/bxl-twitter.svg" alt="twiter">
                          </section>

                          <section class="col-3">
                              <img src="./imagenes/bxl-facebook-circle.svg" alt="">
                          </section>
                      </section>

                  </section>
              </section>

          </section>

          <section class="col-12 col-sm-6 mt-3 mt-sm-0">
              <p>Para cualquier solicitud comuniquese a:</p>
              <section class="row">
                  <section class="col-12">
                      <img src="./imagenes/bxs-phone-call.svg" alt="telefono">
                      <span class="ps-2">(305) 456 67  31</span>
                  </section>
              </section>
          </section>

      </section>

  </footer>
    
</body>
</html>