<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecHome</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/nuevoConsumidor.css">

</head>

<body class="body">
    <div class = "container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
            <figure class="d-flex align-items-center mb-5 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img
                    src="/imagenes/TecHomeLogo.png"
                    alt="Logo TecHome"
                />
            </figure>
            <ul class = "nav nav-pills">
                <li class="nav-item">
                    <button type="button" onclick="informacion()" value="Informacion de la página" class="btn btn-primary">información</button>
                </li>
                <li class="nav-item">
                    <a onclick="logout()" href="/logoutconsumidor" class="nav-link" aria-current="page">Cerrar sesión</a>
                </li>
            </ul>
        </header>
    </div>

    <section class="container p-5" style="border: 2px solid rgb(119, 172, 247)">
        <!--<form method="post" action="/registronuevosproyectos" role="form" id ="nuevoProyectos" name="registroNuevosProyetos">-->
        <form>
            <div class="row">
                <h1 style="text-align:center">NUEVO PROYECTO</h1>
                <section class="mb-3 col-sm-10 col-12 offset-sm-1 offset-0">
                    <select id="tipoProyectoConsumidor" class="form-select" aria-label="Default select example" name="tipoProyecto">
                        <option selected disabled>Tipo de proyecto</option>
                        <option value="Electricidad">Electricidad</option>
                        <option value="Plomeria">Plomeria</option>
                        <option value="Pintura">Pintura</option>
                        <option value="Decoracion">Decoración</option>
                    </select>
                </section>
                <div class="mb-3 col-sm-10 col-12 offset-sm-1 offset-0">
                    <input placeholder="Nombre del proyecto" type="texto" class="form-control" id="nombre" name="nombreProyecto">
                </div>

                <div class="mb-3 col-sm-10 col-12 offset-sm-1 offset-0">
                    <input placeholder="Presupuesto" type="number" class="form-control" id="presupuesto" name="presupuestoProyecto">
                </div>

                <div class="mb-3 col-sm-10 col-12 offset-sm-1 offset-0">
                    <input placeholder="Tiempo" type="number" class="form-control" id="tiempo" name="tiempoProyecto">
                </div> 

                <div class="mb-3 col-sm-10 col-12 offset-sm-1 offset-0">
                    <textarea placeholder="Descripción (200 caracteres)" class="form-control" rows="6" id="descripcion" name="descripcionProyecto"></textarea>
                </div>

                <div class="col-sm-6 col-12 offset-sm-1 offset-0 botton">
                    <button type="submit" class="btn btn-dark" id="botonSubmit" onclick="crearProyecto()">
                        Crear proyecto
                    </button>
                </div>
            </div>
        </form>
    </section>

    <section>
        <footer class="col-12 footer mt-3">
            <section class="row footer-section">

                <section class="col-12 col-sm-6">
                    <section class="row">

                        <section class="col-12">
                            <p>Siguenos en nuestras redes sociales</p>
                        </section>

                        <section class="col-12">
                            <section class="row">

                                <section class="col-3">
                                    <img src="./imagenes/bxl-instagram.svg" alt=" instagram">
                                </section>

                                <section class="col-3">
                                    <img src="./imagenes/bxl-telegram.svg" alt="telegram">
                                </section>

                                <section class="col-3">
                                    <img src="./imagenes/bxl-twitter.svg" alt="twiter">
                                </section>

                                <section class="col-3">
                                    <img src="./imagenes/bxl-facebook-circle.svg" alt="">
                                </section>
                            </section>

                        </section>
                    </section>

                </section>

                <section class="col-12 col-sm-6 mt-3 mt-sm-0">
                    <p>Para cualquier solicitud comuniquese a:</p>
                    <section class="row">
                        <section class="col-12">
                            <img src="./imagenes/bxs-phone-call.svg" alt="telefono">
                            <span class="ps-2">(305) 456 67 31</span>
                        </section>
                    </section>
                </section>
            </section>
        </footer>
    </section>
    <script src="/js/ProyectosConsumidor.js"></script>
</body>
</html>